<section class="wrapper">
  <mat-chip-list aria-label="category selection">
    <mat-chip
      *ngFor="let category of categories"
      routerLink
      [queryParams]="{ category_ids: category.id }"
      queryParamsHandling="merge"
      [ngClass]="{ active: category.id === categoryId }"
    >
      {{ category?.name }}
    </mat-chip>
    <mat-chip>
      <button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        routerLink
        [queryParams]="{ category_ids: null }"
        queryParamsHandling="merge"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-chip>
  </mat-chip-list>
  <mat-form-field appearance="fill">
    <mat-label>Page Limit</mat-label>
    <mat-select [(ngModel)]="pageLimit" name="food">
      <mat-option *ngFor="let limit of pageLimits" [value]="limit">
        {{ limit }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</section>
