$primary-color: #673ab7;
$white: #fff;

// Adaptive Breakpoints
$breakpoint-1600: 1600px;
$breakpoint-1440: 1440px;
$breakpoint-1200: 1200px;
$breakpoint-1024: 1024px;
$breakpoint-768: 768px;
$breakpoint-640: 640px;
$breakpoint-570: 570px;
$breakpoint-480: 480px;
$breakpoint-350: 350px;
$breakpoint-menu: 700px;